


.page-header {
    background-color: #33B1FF;
    margin-top: 0;
    padding: 50px 50px 50px 60px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 50px;
}

h1, h2, h3, h4 {
    font-family: 'Slabo 27px', serif;
    font-size: 20pt;
}



.date {
    color: #4EC8C7;
    font-family: 'Raleway', sans-serif;
    font-size: 9pt;
    margin-bottom: 10px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 30px;
    color: #3F3F3F;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
}

.post h1 a, .post h1 a:visited {
    color: #4F4F4F;
